.git
.github
.venv
venv
env
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.pyre
build
dist
*.egg-info
.eggs
.coverage
.coverage.*
htmlcov
.env
.env.*
*.log
*.sqlite
*.sqlite3
*.db
*.db3
.DS_Store
.idea
.vscode
